:root table {
  border-collapse: separate;
  border-spacing: 0;
  --table-header-weight: bold;
}

th:first-of-type {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;

}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

thead {
  background-color: var(--background-secondary);
}



/* @settings
name: Table Styling
id: table-styling
settings:
  - id: full-width
    title: Full Width Table
    description: Makes tables span the full width of the note.
    type: class-toggle
    default: true

  - id: center-all-cells
    title: Center all table cells
    description: Horizontally centers the text in all table cells.
    type: class-toggle
    default: true

  - id: zebra-striping
    title: Zebra Striping
    description: Adds alternating background colors to table rows for better readability.
    type: class-toggle
    default: false

  - id: header-column
    title: Header Column
    description: Applies header styling to the first column of tables.
    type: class-toggle
    default: false

  - id: no-inner-borders
    title: No Inner Borders
    description: Removes the inner borders between table cells.
    type: class-toggle
    default: false

  - id: table-cell-padding
    title: Table Cell Padding
    description: Adjust the amount of space inside table cells.
    type: variable-number-slider
    min: 0
    max: 25
    step: 1
    default: 5
    format: px
    variable: table-cell-padding
*/

body.center-all-cells :is(.markdown-preview-view, .markdown-rendered) table :is(td, th) {
  text-align: center !important;
}

body.header-column :is(.markdown-preview-view, .markdown-rendered) table tr :is(td:first-of-type) {
  background-color: var(--background-secondary) !important;
  font-weight: bold;
}

body.full-width :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper,
  :is(.markdown-rendered, .markdown-source-view.mod-cm6.is-live-preview) table) {
  width: 100% !important;
}

body.zebra-striping :is(.markdown-preview-view, .markdown-rendered) table tr:nth-of-type(even) {
  background-color: var(--background-primary-alt) !important;
}

:is(.markdown-preview-view, .markdown-rendered) table :is(td, th) {
  padding: var(--table-cell-padding) !important;
}

body.no-inner-borders :is(.markdown-preview-view, .markdown-rendered) table :is(td, th) {
  border-bottom-width: 0 !important;
  border-right-width: 0 !important;
}

body.no-inner-borders :is(.markdown-preview-view, .markdown-rendered) table tr :is(td:last-of-type, th:last-of-type) {
  border-right-width: var(--table-border-width) !important;
}

body.no-inner-borders :is(.markdown-preview-view, .markdown-rendered) table tr:last-of-type td {
  border-bottom-width: var(--table-border-width) !important;
}
